@font-face {
  font-family: 'LABDegital';
  src: url('assets/fonts/LABDegital.ttf') format('truetype');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
